* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.bodypart {
    display: flex;
}

.firstpart {
    width: 60%;
    background: aliceblue;
}

img {
    width: 60%;

}


.container {
    /* height: 100vh; */
    display: flex;
    font-size: small;
    flex-direction: row;
    /* display: flex;
    flex-direction: row; */
}

.title {
    padding-left: 18px;
    align-items: center;
}

.time1 {
    padding-left: 1em;
    text-align: right;
    /* margin-bottom: 20px; */
    /* float: right; */
}

.dot {
    margin: 0%;
    color: rgba(0, 0, 0, 0.8);
}

.pdate {
    color: rgba(0, 0, 0, 0.4);
}

.card {
    display: flex;
    /* align-items: center; */
    flex-direction: row;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 70%;
    height: 100px;
    margin: 2px;
    background: white;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.columncard {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.secondpart {
    width: 40%;
    background: red;
}